<a href="https://colab.research.google.com/github/Shabrina1107/EDA/blob/main/List_Deal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Magang/List_Deal.csv')
df.head()

,Antrian,ID SPK,Tipe Order,CS,Konsumen,Penulis,Tgl Masuk Naskah,Tgl Mulai Proses,No Telp,Alamat,Email,Judul Naskah,Tanggal Deal,ISBN,Sales Order,Kuantitas,Alamat Kirim,Nurturing,Deadline
0,NaN,6285,order,Gupita-CS 11,BUDI SASTRA PANJAITAN,"Dr. BUDI SASTRA PANJAITAN, S.H., M.Hum. Editor...",2023-05-04 13:19:48,2023-05-04 13:19:48,81262418806,NaN,budisastrapanjaitan@uinsu.ac.id,HUKUM BISNIS SUDUT PANDANG ADVOKAT (CETAK ULANG),2023-05-04,978-623-02-6246-3,3234000,22,AYU ANDIRA(082273624915) Alamat Kirim Buku : D...,Nurturing2,2023-05-09
1,NaN,6278,cetak ulang,Galuh-CS 4,Febrina Sari,Febrina Sari,2023-05-03 9:59:18,2023-05-03 9:59:18,85263394975,NaN,febri_ghaniya@yahoo.co.id,Metode Dalam Pengambilan Keputusan (reorder) (...,2023-05-03,NaN,5720000,55,Febrina Sari 085263394975 d/a : Sekolah Tinggi...,Nurturing,2023-05-20
2,NaN,6276,cetak ulang,Jefry-CS 3,"Arief Tasrig Nur Gomo, STP, MSi.","Arief Tasrig Nur Gomo, STP, MSi.",2023-05-02 13:38:32,2023-05-02 13:38:32,8129294267,NaN,arieftnurgomo@gmail.com,Healthy Food & 25 Ideas of Healthy Cooking (CE...,2023-05-03,978-623-02-2727-1,4300000,50,"Arief Tasrig Nur Gomo, STP, MSi.( 08129294267 ...",Nurturing,2023-05-19
3,NaN,6272,cetak ulang,Gupita-CS 11,BUDI SASTRA PANJAITAN,"Dr. BUDI SASTRA PANJAITAN, S.H., M.Hum. Editor...",2023-04-28 8:16:22,2023-04-28 8:16:22,81262418806,NaN,budisastrapanjaitan@uinsu.ac.id,HUKUM BISNIS SUDUT PANDANG ADVOKAT (CETAK ULANG),2023-04-28,978-623-02-6246-3,8024001,61,wahyu Triono putra (082127685484) jalan suluk ...,Nurturing2,2023-05-03
4,NaN,6258,order ebook,Vivin-CS 10,Mukhlis Akhadi,Mukhlis Akhadi,2023-04-18 13:29:18,2023-04-18 13:29:18,81411147855,NaN,mukh001@brin.go.id,Radioekologi Radionuklida Kosmogenik (CETAK UL...,2023-04-18,978-623-02-3753-9,1100000,1,Mukhlis Akhadi 0814 1114 7855 Perumahan Batan ...,Nurturing,2023-05-16

In [ ]:
count_transaksi = df['Konsumen'].value_counts().to_frame()

In [ ]:
print(count_transaksi)

                                                    Konsumen
Retno Widyani                                             91
Evi Sulistyaningsih                                       80
Politeknik Negeri Banjarmasin (Adi Pratomo / Nu...        79
Jurusan Teknik Industri Universitas Islam Indon...        38
Rr. Retno Widyani                                         29
...                                                      ...
Siti Fatimah                                               1
Irham Widiastha Prabowo                                    1
betty A. sahertian                                         1
Nova Elok Mardliyana                                       1
Mirayanti Raissa                                           1

[3576 rows x 1 columns]

In [ ]:
data = df.drop(['Antrian', 'Tipe Order', 'CS', 'Konsumen', 
                  'Penulis', 'Tgl Masuk Naskah', 'Tgl Mulai Proses', 
                  'No Telp', 'Alamat', 'Judul Naskah', 'ISBN', 
                  'Kuantitas', 'Alamat Kirim', 'Nurturing', 'Deadline'], axis=1)

In [ ]:
print(data)

      ID SPK                            Email Tanggal Deal  Sales Order
0       6285  budisastrapanjaitan@uinsu.ac.id   2023-05-04      3234000
1       6278        febri_ghaniya@yahoo.co.id   2023-05-03      5720000
2       6276          arieftnurgomo@gmail.com   2023-05-03      4300000
3       6272  budisastrapanjaitan@uinsu.ac.id   2023-04-28      8024001
4       6258               mukh001@brin.go.id   2023-04-18      1100000
...      ...                              ...          ...          ...
6142       7               botahala@gmail.com          NaN      3648000
6143      23  ayudewi_citra@ikipmataram.ac.id          NaN      1776996
6144       5               andri.bk@ulm.ac.id          NaN      4235000
6145      75           ekosusanto90@gmail.com          NaN      2590000
6146      57            mirraraissa@gmail.com          NaN      3365000

[6147 rows x 4 columns]

In [ ]:
data.isnull().sum()

ID SPK            0
Email             0
Tanggal Deal    565
Sales Order       0
dtype: int64

In [ ]:
data['Tanggal Deal'] = data['Tanggal Deal'].fillna(data['Tanggal Deal'].mode()[0])

In [ ]:
data.isnull().sum()

ID SPK          0
Email           0
Tanggal Deal    0
Sales Order     0
dtype: int64

In [ ]:
data.duplicated().sum()

1

In [ ]:
data = data.drop_duplicates()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6146 entries, 0 to 6146
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID SPK        6146 non-null   int64
 1   Email         6146 non-null   object
 2   Tanggal Deal  6146 non-null   object
 3   Sales Order   6146 non-null   int64
dtypes: int64(2), object(2)
memory usage: 240.1+ KB

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [ ]:
X = df[['Jumlah_Pembelian', 'Frekuensi_Pembelian']]

In [ ]:
data.describe()

            ID SPK   Sales Order
count  6146.000000  6.146000e+03
mean   3150.559551  3.285322e+10
std    1798.495752  9.900602e+11
min       5.000000  0.000000e+00
25%    1602.250000  1.977188e+06
50%    3152.500000  3.089900e+06
75%    4704.750000  4.941750e+06
max    6297.000000  3.750012e+13

In [ ]:
count_transaksi1 = data['Email'].value_counts().to_frame()

In [ ]:
print(count_transaksi1)

                              Email
buevisman4@gmail.com            100
deepublish.editor@gmail.com      91
info@larispa.or.id               85
press@poliban.ac.id              79
qurtubi@uii.ac.id                38
...                             ...
nurulhidayahtumadi@gmail.com      1
mohamad.rosyidin@gmail.com        1
rachman_djamal@yahoo.co.id        1
sekar@ittelkom-sby.ac.id          1
mirraraissa@gmail.com             1

[3316 rows x 1 columns]

In [ ]:
data['jumlah_transaksi'] = data.groupby('Email')['Email'].transform('count')

In [ ]:
data['jumlah_transaksi']

0        6
1        2
2        4
3        6
4       19
        ..
6142     4
6143     3
6144    20
6145     5
6146     1
Name: jumlah_transaksi, Length: 6146, dtype: int64

In [ ]:
data

,ID SPK,Email,Tanggal Deal,Sales Order,jumlah_transaksi
0,6285,budisastrapanjaitan@uinsu.ac.id,2023-05-04,3234000,6
1,6278,febri_ghaniya@yahoo.co.id,2023-05-03,5720000,2
2,6276,arieftnurgomo@gmail.com,2023-05-03,4300000,4
3,6272,budisastrapanjaitan@uinsu.ac.id,2023-04-28,8024001,6
4,6258,mukh001@brin.go.id,2023-04-18,1100000,19
...,...,...,...,...,...
6142,7,botahala@gmail.com,2022-05-23,3648000,4
6143,23,ayudewi_citra@ikipmataram.ac.id,2022-05-23,1776996,3
6144,5,andri.bk@ulm.ac.id,2022-05-23,4235000,20
6145,75,ekosusanto90@gmail.com,2022-05-23,2590000,5
6146,57,mirraraissa@gmail.com,2022-05-23,3365000,1

In [ ]:
data.to_excel('List_Fix.xlsx', index=False)